/* header site */
.container{
    width: 1440px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    padding: 2px 40px;
}

.navigation{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-itm{
    display: inline-block;
    padding: 25px;
}

.navigation-itm a{
    text-decoration: none;
    color: #000;
}

.header-button{
    border-style: none;
    padding: 10px 50px;
    border-radius: 50px;
    margin-right: 30px;
    background-color: #992cff;
    color: #fff;
}

.img-style{
    background-image: url("../img/header-pushti.png");
    width: 1440px;
}

.text-width{
    font-weight: 700;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.span-style{
    color:#992cff;
}

.text-lorem{
    line-height: 1.8;
}

.span-header{
    font-weight: 800;
}

.input-style{
    padding: 10px 50px;
    border-color: #992cff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.button-style{
    padding: 10px 40px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    border-color: #992cff;
    background-color: #992cff;
    color: #fff;
}

.padding-style{
    padding: 180px 80px;
}
/*/header site */

/* main site */
.center-text{
    text-align: center;
    font-weight: 700;
}

.imga-style{
    display: flex;
    justify-content: center;
}

.img-site{
    padding: 10px 30px;
}

.text-center-style{
    width: 180px;
    text-align: center;
    align-items: center;
    border-bottom:solid;
    margin-left: auto;
    margin-right: auto;
    border-color: #992cff;
}

.display-flex-main{
    display: flex;
    margin-top: 100px;
}

.text-left{
   margin: auto;
}

.display-button{
    display: flex;
    align-items: center;
}

.poragraph-left{
    font-weight: 700;
    font-size: 35px;
}

.button-flex{
    padding: 10px 50px;
    border-radius: 30px;
    background-color: #992cff;
    margin-right: 20px;
    color: #fff;
    border-style: none;
}

.text-centent{
    font-weight: 600;
    border-bottom: solid;
    border-color: #992cff;
}

.border-botton{
    width: 140px;
    border-bottom: solid;
    border-color:rgb(194, 194, 194);
    border-width: 1px;
}

.text-right{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.text-p{
    margin-bottom: 80px;
}

.content-left{
    border-left: solid;
    padding: 20px;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
}

.content-right{
    border-left: solid;
    padding: 20px;
    border-width: 1px;
    margin-left: 100px;
    border-color: rgb(194, 194, 194);
}

.data-style{
    font-weight: 800;
    font-size: 35px;
}

.text-p{
    line-height: 1.5;
}

.main-h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.center{
    text-align: center;
}

.flex-images{
    display: flex;
    justify-content: center;
}

.main-images{
    line-height: 1.6;
    text-align: center;
    padding: 50px;
}

.text-width-style{
    font-weight: 700;
}

.main-midle{
    text-align: center;
    background-color: #F5F5F5;
}

.text-midle{
    font-weight: 700;
    font-size: 30px;
    padding-top: 80px;
    margin-top: 0px;
}

.main-midle img{
    padding: 50px;
}

.flex-midle-button{
    text-align: center;
}

.midle-button{
   
    border-radius: 30px;
    border-style: none;
    padding: 10px 50px;
    margin-right: 5px;
    background-color: #992cff;
    color: #fff;
}

.midle-button-2{
    border-radius: 30px;
    border-style: none;
    padding: 10px 50px;
    margin-bottom: 50px;
    color: #992cff;
}

.midle-text-center{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.flex__midle-style{
    display: flex;
    justify-content: center;
}

.flex-midle__images{
    text-align: center;
    padding: 50px;
}

.midle__text{
    font-weight: 700;
    font-size: 20px;
}

.midle__lorem{
    margin-bottom: 100px;
}

.images_flex{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background-color:#F5F5F5 ;
    padding: 50px;
}

.img__flex-style img{
    padding: 15px;
}

.button-text-style{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
}

.lorem-button-style{
    text-align: center;
}

.display-flex__width{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content-color{
    background-color:#17002E;
    padding: 20px 50px;
    margin: 15px;
    border-radius: 10px;
}
 

.img-text-flex{
    display: flex;
}

.display-text1{
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}

.lorem-text-button{
    line-height: 1.6;
    border-bottom: solid;
    color:#fff;
}

.display__style{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F5F5F5 ;
}

.text__width1{
    font-weight: 700;
    font-size: 30px;
}

.lorem__style{
    line-height: 2.5;
}

.button-left__style{
    border-radius: 30px;
    border-style: none;
    padding: 15px 50px;
    margin-top: 80px;
    background-color: #992cff;
    color: #fff;
}

.becgraund-img{
    background-image: url("../img/css\ bgi.png");
    text-align: center;
    padding: 80px;
}

.text-midle__style{
    font-weight: 700;
    font-size: 30px;
    margin-top: 0px;
    color: #fff;
}

.button-img__styli2{
    text-align: center;
    margin-bottom: 20px;
}

.paragraph-button{
    font-size: 25px;
    margin-bottom: 50px;
}

.button-img__styli2 img{
   padding: 2px 15px; 
}

.button-style a{
    text-decoration:none;
    color: #fff;
}

.footer-site{
    background-color: #17002E;
    width: 1440px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.padding-footer{
    padding: 30px 50px;
}

.display-footer{
    display: flex;
}

.text-left__footer{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
    color: #fff;
}

.footer-paragraph{
    font-weight: 600;
    margin-bottom: 40px;
}

.heading-2{
    text-align: center;
    color: #fff;
}

.image-flex{
    display: flex;
    align-items: center;
}
.image-flex div{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}